.news-list{
  max-width:900px;
  margin:60px auto;
  padding:20px;
}

.news-list-title{
  font-size:32px;
  margin-bottom:30px;
}

.news-list-card{
  display:flex;
  gap:20px;
  margin-bottom:25px;
  cursor:pointer;
}

.news-list-card img{
  width:200px;
  height:130px;
  object-fit:cover;
  border-radius:10px;
}

.news-list-card h3{
  margin:0;
}

.news-list-card p{
  color:#555;
}

.date{
  font-size:12px;
  color:#888;
}
